<% include partials/header %>
<link rel="stylesheet" href="app.css">

<h1>
	This is the homepage
</h1>

<img src="https://www.vets4pets.com/siteassets/species/rabbit/bunny-in-field.jpg?width=1040" alt="cute rabbit">

<% include partials/footer %>